Repository fuchicorp/common_scripts, pull requests merged in 2020-05, with the labels that each got.

#8 Created script to make sure members are orgonized
  github-management/manage-users/add-user-org.py
  github-management/manage-users/addusers.py
  github-management/manage-users/get_all_org_members.py
  github-management/manage-users/sync-users.py
  github-management/manage-users/users-to-add.txt
Labels: Bash Scripting, Python

#9 Fixed clusterrole to cluster-view
  set-environments/kubernetes/set-kube-config.sh
Labels: DevOps Bug, Kubernetes

#7 Onboarding all members as non-root
  bastion-scripts/sync-users.py
Labels: Bash Scripting, Bastion, Python

#10 Fixed cluster role name
  set-environments/kubernetes/set-kube-config.sh
Labels: Bash Scripting, Kubernetes, Security

#13 Feature/atakanerdil2559
  .gitignore
  changelog.html
  example.groovy
  github-management/manage-labels/labels.json
  index.html
Labels: DevOps Feature, Jenkins
